@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
.heading--1 {
  font-size: 3rem;
}

.heading--2 {
  font-size: 2.8rem;
}

.heading--3 {
  font-size: 2rem;
}

p {
  font-size: 1.64rem;
}

.btn {
  border: none;
  width: 100%;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  color: #fff;
  font-size: 1.8rem;
  padding: 1.5rem 0;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  letter-spacing: 0.1rem;
}
.btn:hover {
  box-shadow: none;
}

.buttons {
  display: grid;
  justify-self: stretch;
}
.buttons .btn-green {
  margin-bottom: 2rem;
  background-color: hsl(171deg, 66%, 44%);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.buttons .btn-green:hover, .buttons .btn-green:link {
  background-color: rgba(38, 186, 164, 0.6);
}
.buttons .btn-blue {
  color: #fff;
  background-color: hsl(233deg, 100%, 69%);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.buttons .btn-blue:hover, .buttons .btn-blue:link {
  background-color: rgba(97, 115, 255, 0.6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.64rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.clipboard {
  padding: 0 3rem;
  display: grid;
  justify-items: center;
  margin-bottom: 18rem;
}
.clipboard--heading, .clipboard--text {
  text-align: center;
}
.clipboard--heading {
  color: hsl(210deg, 10%, 33%);
}
.clipboard--text {
  color: hsl(201deg, 11%, 66%);
  margin-top: 1.5rem;
}
.clipboard .buttons {
  margin-top: 3rem;
}

.header {
  height: 100vh;
  background-image: linear-gradient(to bottom, transparent 0%, rgb(255, 255, 255)), url("../images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  align-content: center;
  justify-items: center;
  padding: 0 3rem;
}
.header--logo {
  margin-bottom: 6rem;
}
.header--text, .header--heading {
  text-align: center;
}
.header--heading {
  color: hsl(210deg, 10%, 33%);
}
.header--text {
  margin: 1.5rem 0 3rem 0;
  color: hsl(201deg, 11%, 66%);
}

.overview {
  padding: 0 3rem;
  margin-bottom: 16rem;
  display: grid;
  justify-items: center;
}
.overview p,
.overview h3 {
  text-align: center;
}
.overview--heading,
.overview .heading--3 {
  text-align: center;
  color: hsl(210deg, 10%, 33%);
}
.overview--image {
  margin: 6rem 0;
}
.overview--text {
  color: hsl(201deg, 11%, 66%);
  margin-top: 1.3rem;
}

.sub--overview > div:not(:last-child) {
  margin-bottom: 4rem;
}

.access {
  padding: 0 3rem;
  display: grid;
  justify-items: center;
}
.access--heading, .access--text {
  text-align: center;
}
.access--heading {
  color: hsl(210deg, 10%, 33%);
}
.access--text {
  color: hsl(201deg, 11%, 66%);
  margin-top: 1.3rem;
}
.access--image {
  margin: 6rem 0 9rem 0;
}

.workflow {
  padding: 0 3rem;
  display: grid;
  justify-items: center;
  margin-bottom: 17rem;
}
.workflow .heading--2,
.workflow .heading--3 {
  text-align: center;
  color: hsl(210deg, 10%, 33%);
}
.workflow .heading--3 {
  margin-top: 3rem;
}
.workflow--text {
  color: hsl(201deg, 11%, 66%);
  text-align: center;
  margin-top: 1.5rem;
}
.workflow--companies {
  display: grid;
  row-gap: 6rem;
}

.sub--workflow {
  display: grid;
  justify-items: center;
  row-gap: 3rem;
  margin: 6rem 0 20rem 0;
}
.sub--workflow_1, .sub--workflow_2, .sub--workflow_3 {
  display: grid;
  justify-items: center;
}

.footer {
  padding: 4rem 3rem;
  display: grid;
  justify-items: center;
  row-gap: 4rem;
  background-color: rgba(159, 171, 178, 0.1);
}
.footer--image {
  width: 5rem;
}
.footer--icons {
  display: flex;
  font-size: 2.8rem;
}
.footer--icons i:not(:last-child) {
  margin-right: 4rem;
}
.footer--list:not(:last-child) {
  margin-bottom: 3rem;
}
.footer--link {
  text-align: center;
  display: inherit;
  color: hsl(210deg, 10%, 33%);
  font-weight: 400;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.footer--link:hover {
  color: hsl(171deg, 66%, 44%);
}

/*# sourceMappingURL=style.css.map */
