.access {
  @include section-padding;
  display: grid;
  justify-items: center;
  &--heading,
  &--text {
    text-align: center;
  }

  &--heading {
    color: $color-neutral-blue;
  }
  &--text {
    color: $color-neutral-grayish-blue;
    margin-top: 1.3rem;
  }
  &--image {
    margin: 6rem 0 9rem 0;
  }
}
