.header {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(255, 255, 255)
    ),
    url("../images/bg-header-mobile.png");
  //   background-color: $color-neutral-grayish-blue;
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  //   grid-template-rows: min-content repeat(3, max-content);
  align-content: center;
  justify-items: center;
  @media only screen and (min-width: $bp-small) {
    background-image: linear-gradient(
        to bottom,
        transparent 0%,
        rgb(255, 255, 255)
      ),
      url("../images/bg-header-desktop.png");
  }
  @include section-padding;

  &--logo {
    margin-bottom: 6rem;
  }
  &--text {
    max-width: 56rem;
  }
  &--text,
  &--heading {
    text-align: center;
  }
  &--heading {
    color: $color-neutral-blue;
  }
  &--text {
    margin: 1.5rem 0 3rem 0;
    color: $color-neutral-grayish-blue;
  }
}
